# Data Science Tools and Ecosystem

## Author
Hugo Cea

This is a notebook where Data Science Tools and Ecosystem are summarized

**Objectives**

- Lenguajes Populares del Data Science
- Librerías Populares
- Herramientas Populares
- Cálculos Aritméticos

Algunos de los lenguajes populares del Data Science son:
1. Python
2. R
3. Javascript

Algunas de las librerías más utilizadas por los Científicos de Datos son:

1. dplyr
2. tidyr
3. ggplot2

| Data Science Tools |
| :-: |
| TensorFlow |
| Jupyter Notebook |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200 // 60

3